<h1>Untrusted Deserialization: pickle.load</h1>

<form action="/vulnpy/deserialization/pickle-load/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="csubprocess\ncheck_output\n(S'ls'\ntR.">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>Untrusted Deserialization: pickle.loads</h1>

<form action="/vulnpy/deserialization/pickle-loads/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="csubprocess\ncheck_output\n(S'ls'\ntR.">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>

<h1>Untrusted Deserialization: yaml.load</h1>

<form action="/vulnpy/deserialization/yaml-load/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="csubprocess\ncheck_output\n(S'ls'\ntR.">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>Untrusted Deserialization: yaml.load_all</h1>

<form action="/vulnpy/deserialization/yaml-load-all/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="csubprocess\ncheck_output\n(S'ls'\ntR.">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>
