<h1>nosqli: pymongo.collection.find</h1>

<form action="/vulnpy/nosqli/mongo-find/" method="POST">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" id="user_input" placeholder='{"title": "Record One", "content": "some content", "author": "John Doe"}'>
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>nosqli: pymongo.collection.insert_one</h1>


<form action="/vulnpy/nosqli/mongo-insert-one/" method="POST">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder='{"title": "Record One", "content": "some content", "author": "John Doe"}'>
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>nosqli: pymongo.collection.insert_many</h1>


<form action="/vulnpy/nosqli/mongo-insert-many/" method="POST">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder='{"title": "Record One", "content": "some content", "author": "John Doe"}'>
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>nosqli: pymongo.collection._update_retryable</h1>


<form action="/vulnpy/nosqli/mongo-update/" method="POST">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder='{"title": "Record One", "content": "some content", "author": "John Doe"}'>
    </div>

    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>


<h1>nosqli: pymongo.collection._delete_retryable</h1>


<form action="/vulnpy/nosqli/mongo-delete/" method="POST">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder='{"title": "Record One", "content": "some content", "author": "John Doe"}'>
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

