<h1>Path Traversal: io.open</h1>

<form action="/vulnpy/pt/io-open/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="../../etc/passwd">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>Path Traversal: open</h1>

<form action="/vulnpy/pt/open/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="../../etc/passwd">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>Path Traversal: execfile (Python 2 only)</h1>

<form action="/vulnpy/pt/execfile/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="../../etc/passwd">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
