<h1>Unsafe Code Execution: exec</h1>

<form action="/vulnpy/unsafe_code_exec/exec/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="1 + 2">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>Unsafe Code Execution: eval</h1>

<form action="/vulnpy/unsafe_code_exec/eval/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="1 + 2">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>

<h1>Unsafe Code Execution: compile</h1>

<form action="/vulnpy/unsafe_code_exec/compile/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="1 + 2">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
