<h1>xpath: lxml.etree.findall</h1>

<form action="/vulnpy/xpath/lxml-etree-findall/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="./planet[name='Kepler']">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>xpath: lxml.etree.findtext</h1>

<form action="/vulnpy/xpath/lxml-etree-findtext/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder=".//name">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>

<h1>xpath: xml.etree.ElementTree.findall</h1>

<form action="/vulnpy/xpath/xml-etree-elementtree-findall/" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="user_input" placeholder="./planet[name='Kepler']">
    </div>
    <div class="control">
      <button class="button is-info" action="submit">
        Execute
      </button>
    </div>
  </div>
</form>
<br>
